{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% set hasSidebar = true %}

{% block main %}
    <div class="row">
        <h1>{{ 'app.name'|trans }}</h1>
    </div>
{% endblock %}
