{% extends 'base.html.twig' %}

{% block title %}{{ 'app.name'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="h1">{{ file }}</div>
        <hr>
        <div class="logseq_content">
            {{ content|markdown_to_html|renderLogSeqPage|raw }}
        </div>
    </div>
{% endblock %}
